@{
    ViewData["Title"] = "Våra lägenheter";
}
<script>

</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="textArea">
    <div class="row">
        <div class="col-6">
            <h2>Privacy</h2>
        </div>
        <p>
            Hej där!<br />
            <a>
            Vi vill informera dig om att vår webbplats använder kakor för att förbättra din upplevelse. Kakor (cookies) är små textfiler som lagras på din enhet när du besöker en webbplats. De hjälper oss att analysera webbplatstrafiken, komma ihåg dina inställningar och erbjuda dig relevanta funktioner.
            </a>
            <br />
            <br />Vi använder olika typer av kakor på vår webbplats:

            <br /><strong>Nödvändiga kakor</strong>: Dessa kakor är avgörande för att webbplatsen ska fungera korrekt och kan inte stängas av i våra system. De lagrar tillfälliga informationer och sessioner och behövs till exempel för att du ska kunna lägga till produkter i din kundvagn och slutföra en köptransaktion.

            <br /> <strong>Analyskakor</strong>: Dessa kakor hjälper oss att samla in information om hur besökare använder vår webbplats, vilket hjälper oss att förstå och förbättra dess prestanda. <br />Informationen vi samlar in är anonym och används endast i syfte att analysera trender och förbättra användarupplevelsen.

            <br />Genom att fortsätta använda vår webbplats samtycker du till användningen av kakor enligt beskrivningen ovan. Om du inte vill att kakor ska placeras på din enhet kan du ändra dina webbläsarinställningar för att avvisa kakor. Observera att detta kan påverka funktionaliteten på webbplatsen.

            Tack för att du besöker vår webbplats!
        </p>
        <div class="d-grid gap-2 d-md-block">
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Till startsida</a>
        </div>
    </div>
</div>

<style>
    .textArea {
        background-color: rgba(255,255,255,.9);
        color: #000000;
        padding: 15px;
    }

    body {
        background-image: url(https://edvardssonstorage.blob.core.windows.net/media/462753.jpg?sp=r&st=2022-12-28T08:43:03Z&se=2025-12-28T16:43:03Z&sv=2021-06-08&sr=c&sig=I9u6ktGoHuQaKt1EvmxIUPFJU23ZJi1iFCIMmXMYgRY%3D);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>