@model fastigheter.Models.Intresse
<!-- 
<h4>Intresse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="data/*Förnamn*/" class="control-label"></label>
                <input asp-for="data/*Förnamn*/" class="form-control" />
                <span asp-validation-for="data/*Förnamn*/" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data/*Efternamn*/" class="control-label"></label>
                <input asp-for="data/*Efternamn*/" class="form-control" />
                <span asp-validation-for="data/*Efternamn*/" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data/*Email*/" class="control-label"></label>
                <input asp-for="data/*Email*/" class="form-control" />
                <span asp-validation-for="data/*Email*/" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data/*Intresserad*/" class="control-label"></label>
                <input asp-for="data/*Intresserad*/" class="form-control" />
                <span asp-validation-for="data/*Intresserad*/" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

-->